.masthead {
  background-color: var(--light-yellow);
}
.masthead h1 {
  line-height: 54px;
  color: var(--black);
  font-family: var(--bold);
  font-size: var(--size-40);
}
.masthead h1 span {
  position: relative;
}
.masthead h1 span::before {
  content: "";
  position: absolute;
  padding: 25px;
  width: 100px;
  top: 0;
  right: 0;
  background: rgba(56, 97, 251, 0.1);
  border-radius: 20px;
}
.logo {
  width: 40px;
}

.hero--image {
  width: 100%;
}
.masthead p {
  font-size: 20px;
  font-family: var(--regular);
  margin-top: 22px;
}
.masthead .action--btn {
  margin-top: var(--size-48);
}

.masthead .action--btn button {
  padding: 16px 18px;
  border-radius: 4px;
  background-color: var(--main);
  color: #fff;
  font-size: 14px;
  border: none;
  font-family: var(--bold);
}

.masthead .action--btn span {
  padding-left: 39px;
  color: #e5b808;
  font-family: var(--bold);
}
.navigation {
  margin-bottom: 100px;
}
.navigation__wrapper {
  display: flex;
  padding: 24px 0px;
  margin-bottom: 82px;
}
.active {
  color: var(--main) !important;
}
.navigation__left a {
  color: #202028;
  padding: 0 40px;
  text-decoration: none;
  font-family: var(--bold);
  font-size: 16px;
}
.navigation__left a:first-child {
  padding-left: 0px;
}
.navigation .navigation__right a {
  color: #202028;
  font-size: 16px;
  border: none;
  font-family: var(--bold);
  padding-right: 54px;
  cursor: pointer;
  text-decoration: none;
}
.navigation .navigation__right button {
  background-color: var(--main);
  color: #fff;
  font-size: 14px;
  border: none;
  font-family: var(--bold);
  padding: 16px 18px;
  border-radius: 4px;
}
.navigation__right {
  display: flex;
  align-items: center;
}

.features,
.benefits {
  padding-top: 150px;
}
.features h1,
.benefits h1 {
  font-size: var(--size-40);
  font-family: var(--bold);
  text-align: center;
  margin-top: 48px;
}
.features p,
.benefits p {
  font-size: 20px;
  font-family: var(--regular);
  text-align: center;
}
.features .tags {
  background: rgba(11, 220, 120, 0.15);
  border-radius: 20px;
  color: #0bdc78;
  font-family: var(--bold);
  padding: 6px 18px;
}

.feature__card,
.benefit__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feature__card p,
.benefit__card p {
  font-size: 16px;
}
.feature__card h6,
.benefit__card h6 {
  font-family: var(--bold);
  font-size: 20px;
  color: #0c1a4b;
  padding-top: 16px;
  text-align: center;
}
.features__list,
.benefits__list {
  padding-top: 108px;
}

footer {
  background-color: var(--main);
  padding: 64px 0;
  color: #fff;
  position: relative;
  margin-top: 200px;
}

.footer--image {
  position: absolute;
  top: 0;
  right: 0;
}
footer h1 {
  font-size: 40px;
  font-family: var(--bold);
}
footer p {
  margin-top: 24px;
  font-family: var(--medium);
}
.footerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main);
  text-decoration: none;
  font-family: var(--bold);
  border-radius: 4px;
  border: none;
  background-color: #fff;
  width: 134px;
  height: 52px;
  margin-top: 24px;
}

.copyright {
  padding-top: 50px;
}
.copyright__footerLinks a {
  padding: 0 24px;
  color: #fff;
  text-decoration: none;
  font-family: var(--medium);
}
.hidden-lg {
  display: none !important;
}

.no-bg {
  background-color: transparent !important;
}

@media screen and (max-width: 768px) {
  .navigation {
    margin-bottom: 50px;
  }
  .navigation__wrapper {
    align-items: center;
    height: 80px;
  }
  .navigation__left a {
    padding: 12px;
    font-size: 14px;
  }
  .navigation .navigation__right a {
    font-size: 14px;
    padding-right: 12px;
  }
  .navigation .navigation__right button {
    padding: 12px 14px;
  }
  .masthead h1,
  .features h1,
  .benefits h1,
  footer h1 {
    font-size: var(--size-24);
    line-height: normal;
  }
  .masthead p {
    font-size: var(--size-16);
  }
  .masthead .action--btn button {
    padding: 12px 14px;
  }
  .masthead .action--btn span {
    font-size: 12px;
  }
  .masthead h1 span::before {
    display: none;
  }
  .masthead {
    padding-bottom: 50px;
  }

  .w-50 {
    width: 80% !important;
  }
  .features p,
  .benefits p,
  footer p {
    font-size: 16px;
  }
  .features {
    padding-top: 50px;
  }
  .features__list,
  .benefits__list {
    padding-top: 50px;
  }
  .footer--image img {
    width: 300px;
  }

  .copyright__footerLinks a {
    font-size: 14px;
  }
}

@media screen and (max-width: 460px) {
  .masthead {
    padding-bottom: 0;
  }
  .w-50 {
    width: 100% !important;
  }
  .footer--image img {
    display: none;
  }
  .copyright__footerLinks a {
    padding-right: 12px;
  }
  .hidden-sm {
    display: none !important;
  }
  .logo {
    width: 40px;
  }
  .show-sm {
    display: flex !important;
  }
  .features__list .feature__card h6,
  .benefits__list .benefit__card h6 {
    font-size: 18px;
  }
  .features__list .feature__card p,
  .benefits__list .benefit__card p {
    font-size: 14px;
  }
  .benefit__card,
  .feature__card {
    margin-bottom: 24px;
  }
  .benefit__card svg,
  .feature__card svg {
    width: 32px;
    height: 32px;
  }
  footer {
    margin-top:50px;
  }
}

@media screen and (max-width: 360px) {
  .masthead .action--btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 50px;
  }
  .masthead .action--btn span {
    padding-left: 0;
    padding-top: 8px;
  }
}
