.rodal,
.rodal-mask {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 !important;
}
.rodal-dialog {
  display: flex;
  margin: auto;
  margin-top: 56px;
  height: auto !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  font-family: inherit;
  font-size: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; */
  position: relative !important;
  width: 100% !important;
  max-width: 100%;
  min-height: calc(100vh - 56px);
  border-radius: 50px 50px 0px 0px;
  padding: 0 !important;
}

.modal__container {
  position: relative;
}

.modal__container .close {
  position: absolute;
  top: -38px;
  right: 36px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  color: var(--white);
  background: var(--overlay-light);
  font-size: 14px;
  display: grid;
  justify-items: center;
  align-items: center;
}
