.explore__header {
  background-color: rgba(249, 198, 0, 0.1);
  padding-bottom: 100px;
}

.explore__header h1 {
  font-family: var(--bold);
  font-size: 40px;
}
.explore__header p {
  font-family: var(--medium);
  font-size: 20px;
}
.filter__wrapper {
  width: 100%;
  background-color: #fff;
  padding: 16px;
}

.rommie__list {
  padding-top: 50px;
}

.explore__header button {
  background-color: var(--main);
  width: 305px;
  margin-top: 16px;
  padding: 16px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-family: var(--bold);
}

@media only screen and (max-width: 480px) {
  .explore__header {
    padding-bottom: 20px;
  }
  .explore__header h1 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 600px) {
  /* filter on explore page */
  .filter__wrapper,
  .explore__header button {
    display: none;
  }
}


.show-on-mobile {
  display: flex;
  flex-direction: column;
}