.auth {
  width: 100%;
  height: 100vh;
  display: flex;
}

.left__section {
  width: 600px;
  height: 100vh;
  background-color: var(--light-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
}
.left__section img {
  width: 90%;
}
.right__section {
  width: calc(100% - 600px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.right__section .form__wrapper {
  width: 50%;
}
.right__section h1 {
  font-family: var(--bold);
  margin: 0;
}
.right__section span {
  font-family: var(--medium);
}

.password__error {
  background-color:rgba(255, 0, 0, 0.06);
  margin-bottom: 24px;
  padding:16px;
}
.password__error p {
  color: #ff0000;
  margin:0;
  font-family: var(--medium);
}

.success__container {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

.success__container p {
  font-family: var(--medium);
}
.input__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  position: relative;
}
.input__wrapper label {
  font-size: 14px;
  font-family: var(--bold);
  margin-bottom: 4px;
}
.input__wrapper input {
  border: 1.5px solid #3861fb;
  padding: 16px;
  border-radius: 4px;
  padding-left: 48px;
  font-family: var(--medium);
}
.input__wrapper textarea {
  height: 200px;
  border: 1.5px solid #3861fb;
  padding: 16px;
  border-radius: 4px;
  font-family: var(--medium);
}

.form__wrapper button {
  border: none;
  border-radius: 4px;
  padding: 16px 18px;
  width: 100%;
  font-family: var(--bold);
  color: #fff;
  background-color: var(--main);
}

.form__wrapperHeader {
  margin-bottom: 48px;
}

.form__wrapperHeader span a {
  color: var(--main);
  text-decoration: none;
}

.input__wrapper a {
  position: absolute;
  display: block;
  color: var(--main);
  right: 0;
  text-decoration: none;
  font-family: var(--medium);
  margin-bottom: 8px;
  font-size: 14px;
}

.input__wrapper .input--icon {
  position: absolute;
  top: 40px;
  left: 16px;
}
.input__wrapper .input--icon svg {
  width: 24px;
  height: 24px;
}
.input__wrapper .right {
  left: 386px;
  cursor: pointer;
}
.gender__wrapper {
  display: flex;
  margin-bottom: 24px;
}
.gender__wrapper label:first-child{
  margin-right: 24px;
}
.gender__wrapper label {
  display: flex;
  align-items: center;
  font-family: var(--medium);
  cursor: pointer;
}
.gender__wrapper label input {
  margin-right: 8px;
}

.loader__container {
  padding: 24px;
  height: 200px;
  width: 100%;
  background-color:#f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:8px;
}
.loader__container .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width:768px){
  .input__wrapper .right {
    left: 326px;
  }
  .auth {
    flex-direction: column;
  }
  .left__section {
    width: 100%;
    height:auto;
    padding-top: 20px;
  }
  .left__section img {
    width: 50%;
  }
  .right__section {
    width: 100%;
  }
  .right__section .form__wrapper {
    width: 100%;
    padding: 16px;
  }
  .right__section h1 {
    font-size: 20px;
  }
  .right__section span {
    font-size: 14px;
  }

  .form__wrapperHeader {
    margin-bottom:20px;
    margin-top:50px;
  }
}
@media screen and (max-width: 480px) {
  .input__wrapper .right {
    left: 326px;
  }
  .auth {
    flex-direction: column;
  }
  .left__section {
    width: 100%;
    height:auto;
    padding-top: 20px;
  }
  .left__section img {
    width: 50%;
  }
  .right__section {
    width: 100%;
  }
  .right__section .form__wrapper {
    width: 100%;
    padding: 16px;
  }
  .right__section h1 {
    font-size: 20px;
  }
  .right__section span {
    font-size: 14px;
  }

  .form__wrapperHeader {
    margin-bottom:20px;
    margin-top:50px;
  }
}